.content {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-top: 3%;
	z-index: 0;
	display: inline-block;
	text-align: center;
	background-color: #000000;
}

.content h1 {
	margin-top: 4%;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

.content h2 {
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.content-operation {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.content-button-1 {
	padding: 5px 20px 5px 20px;
	border-color: #00aaff;
    background-color: #00aaff;
   	font-size: 16px;
   	color:#FFFFFF
}
.content-button-1 img{
	margin-right: 8px;
	vertical-align: middle;
}
.content-button-2 {
	padding: 11px 45px;
	border-color: #FFFFFF;
	border: 1px solid;
    background-color: transparent;
   	font-size: 16px;
   	color:#FFFFFF
}





.content-pic {
	position: relative;
	height: 400px;
}

.content-pic-left {
	top: 47%;
	right: 62%;
	position: absolute;
	z-index: 2;
}

.content-pic-left img{
	position: relative;
	left: -50%;
}
.content-pic-middle {
	top: 9%;
	left: 50%;
	position: absolute;
	z-index: 0;
}

.content-pic-middle img{
	position: relative;
	left: -50%;
}

.content-pic-right {
	top: 51%;
	left: 70%;
	position: absolute;
	z-index: 2;
}


.content-pic-right img{
	position: relative;
	left: -50%;
}

