body {
	margin: 0;
}
a img {
  border: none;
}
header {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	opacity: 0.95;

	background: none repeat scroll 0% 0% #000000;
}

.head-tool-bar {
	height: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

.head-nav-bar {
	margin-top: 2%;
	background-color: #4D4D4D;
}

.head-tool-bar .head-left {
	float: left;
	margin-top: 10px;	
}

.head-icon {
	font-weight: 500;
	font-size: 20px;	
	margin: 0.8% 0;
	color: #ffffff;		
}
.head-icon img {
	vertical-align: middle;
	height: 30px;
	margin: 0 10px;	
}
.head-search {
	margin: 0% 5px;
		
}
.head-search .head-search-form{
	display: inline;
	padding: 3px 5px;
	background-color: #FFFFFF;	
	border-radius: 5px;
	width: 150px;
}

.head-search fa-search {
	right: 10px;
	position: relative;
	z-index: 5;
}

.head-tool-bar .head-right{
	margin-top: 16px;	
	float: right;	
}
.head-button-1 {
	margin-right : 5px;
	padding: 5px 15px 5px 15px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius:5px;
}

.head-button-2 {
	margin-right : 5px;
	padding: 5px 10px 5px 10px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius:5px;
}


.head-button-3 {
	margin-right : 5px;
	padding: 5px 10px 5px 10px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius:5px;
}

.head-nav-bar ul{
	clear: both;
	margin:0 20%;
}

.head-nav-bar li {
	padding-left: 0;
	display: inline;
	margin-right: 50px;
}

.head-nav-bar li a {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	color: #D7D7D7;
}