body {
	margin: 0;
}
a img {
	border: none;
}
header {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	opacity: 0.95;
	background: none repeat scroll 0% 0% #000000;
}

.header-tool-bar {
	height: 20px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: #000000;
}

.header-nav-bar {
	margin-top: 32px;
	background-color: #4D4D4D;
}

.header-tool-bar .header-left {
	float: left;
	margin-top: 10px;
}

.header-icon {
	font-weight: 500;
	font-size: 20px;
	margin: 0.8% 0;
	color: #ffffff;
}
.header-icon img {
	vertical-align: middle;
	height: 30px;
	margin: 0 10px;
}

.header-divide {
	margin-bottom: 5px;
	margin: 0 5px;
	margin-right: 10px;
	border-right: 1px solid #555555;
}

.header-search .header-search-form {
	display: inline;
	padding: 3px 5px;
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 150px;
}

.header-search fa-search {
	right: 10px;
	position: relative;
	z-index: 5;
}

.header-tool-bar .header-right {
	margin-top: 16px;
	float: right;
}
.header-button-1 {
	margin-right: 5px;
	padding: 5px 15px 5px 15px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius: 5px;
}

.header-button-2 {
	margin-right: 5px;
	padding: 5px 10px 5px 10px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius: 5px;
}

.header-button-3 {
	margin-right: 5px;
	padding: 5px 10px 5px 10px;
	border-color: #C46814;
	background-color: #c46814;
	border-radius: 5px;
}

.header-nav-bar ul {
	clear: both;
	text-align: center;
	width: 60%;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 20%;
	margin-right: 20%;
}

.header-nav-bar li {
	padding-left: 0;
	display: inline;
	margin-right: 50px;
}

.header-nav-bar li a {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	color: #D7D7D7;
}